div.page-container {
  width: 100%;
  margin: 50px auto auto;
  position: relative;
}

div.menu-container {
  width: max-content;
  margin: auto;
}

div.menu-columns-container {
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

div.menu-news-column {
  width: 450px;
}

div.news-column-wrapper {
  padding: 5px;
  margin: 10px;
}

div.menu-column {
  margin-left: 10px;
  margin-right: 10px;
}

.tile-list {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 342px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tile {
  margin: 10px;
  ttext-align: center;
  background-color: var(--menu-tile-background);
  color: rgb(250, 250, 250);
  position: relative;
}

.tile:hover {
  background-color: var(--menu-tile-background-hover);
}

.tile-single {
  width: 150px;
  height: 150px;
}

.tile-wide {
  width: 320px;
  height: 150px;
}

.tile-content {
  padding: 5px 5px 35px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile-label {
  position: absolute;
}

.tile-text-label {
  left: 8px;
  bottom: 5px;
  font-size: 0.9em;
  font-weight: 300;
}

.tile-icon-label {
  font-size: 0.75em;
  left: 8px;
  bottom: 8px;
}

div.icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.image-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  img.tile-image
  {
    max-width: 100px;
  }
}

.construction-overlay
{
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  img
  {
    height: 50%;
  }
}

div.menu-news {
  overflow: visible !important;
  white-space: normal !important;
}

div.menu-news p.news-item {
  font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
  font-size: 18px;
  color: var(--default-color);
  font-weight: 300;
  padding-bottom: 15px;
}

div.menu-news p.news-title {
  font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
  font-size: 30px;
  color: var(--default-color);
  font-weight: bold;
}

div.menu-news p span.news-timestamp {
  font-size: 14px;
  color: gray;
  font-weight: 200;
}

div.menu-news p a {
  color: var(--default-color);
}
