{% extends 'layout/regular-page.html.twig' %}

{% block title %}

    Secured - Welcome to La Danse Macabre

{% endblock %}

{% block page_content %}

    <p>Hello World - I am secured!</p>

{% endblock %}
